/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Variables */
:root {
  --text-color: #373c41;
  --border-color: #dee2e6;
  --bg-color: #f8f9fa;
  --primary-color: #D90429 !important;
  --secondary-color: #ef233b10;
  --white: #FFF;
  --black: #000;
  --font-family: 'League Spartan', sans-serif !important;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: var(--font-family);
}

#root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 0.5rem;
}

/* Calendar */
.p-calendar {
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}

.p-datepicker {
  padding: 0 !important;
}

.p-datepicker table td {
  padding: 1px !important;
}

.p-datepicker table td>span.p-highlight {
  color: var(--primary-color);
  background: var(--secondary-color)
}

.p-datepicker table td.p-datepicker-today>span.p-highlight {
  color: var(--text-color);
  background: var(--bg-color);
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover {
  color: var(--primary-color);
}

/* Button */
.btn-container {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}


@media screen and (min-width:600px) {
  #root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
  }
}